<% content_for :title, "Trips" %>


<div class="container-content">

  <h1>Trip List</h1>

  <div class="summary">
    <% if @trips %>
      <ol>
        <% @trips.each do |trip| %>
          <li><%= link_to trip.date, trip_path(trip) %></li>
        <% end %>
      </ol>
    <% else %>
      <p>No trips in the system!</p>
    <% end %>
  </div>
</div>