<!--<h1>Homepage</h1>-->
<% content_for :title, "Homepage" %>
<div><%= link_to 'Driver List', drivers_path %></div>
<div><%= link_to 'Passenger List', passengers_path %></div>
<div><%= link_to 'Create A New Driver', new_driver_path %></div>
<div><%= link_to 'Create A New Passenger', new_passenger_path %></div>
