<h1>All Passengers</h1>

<%= link_to "Add New Passenger", new_passenger_path %>

<% if @passengers %>
  <% @passengers.each do |passenger| %>
    <div>
      <%= link_to passenger.name, passenger_path(passenger) %>
    </div>
  <% end %>
<% else %>
  <p>No passengers in the system!</p>
<% end %>


<!--TODO-->
<!--link to add new passenger-->