<h1>All Passengers</h1>

<% if @passengers %>
  <% @passengers.each do |passenger| %>
    <%= passenger.name %>
  <% end %>
<% else %>
  <p>No passengers in the system!</p>
<% end %>


<!--TODO-->
<!--link to add new passenger-->